.dv_top {
	height: 50px;
	background-color: #336699;
}
.for_button{
	outline-style: none;
	border: 1px #fff solid;
	background-color: #336699;
	color: #fff;
	display: inline-block;
	margin-top: 10px;
	float: left;
	border-radius: 6px;
	font-size: 16px;
	font-family: "楷体";
	font-weight: 600;
	padding: 5px;
}
.for_button:HOVER {
	cursor: pointer;
	border: 1px #336699 solid;
	background-color: #fff;
	color: #336699;
}
#index_go {
	margin-left: 15%;
	width: 65px;
	height: 30px;
}

#find_user {
	margin-left: 55%;
	padding: 5px;
}

@media ( max-width: 1330px) {
	#find_user {
		margin-left: 40%;
		padding: 5px;
	}
}

@media ( max-width: 800px) {
	#find_user {
		margin-left: 100px;
		padding: 5px;
	}
}

#user_out{
	margin-left: 10px;
	width: 65px;
	height: 30px;
}
.dv_head{
	margin: auto;
	height: 80px;
	font-size: 50px;
	text-align: center;
	color: orange;
	width: 60%;
	border-bottom: #336699 solid 2px;
	padding-top: 30px;
	font-family: "楷体";
}
.dv_main{
	width: 80%;
	margin: auto;
}
.dv_main > div{
	float: left;
	margin: 30px;
	width: 300px;
	height: 450px;
}
.dv_main_ul{
	list-style: none;
	width: 300px;
}
.dv_main_ul > li {
	border-bottom: #FFFFFF solid 1px;
	width: 100%;
	height: 30px;
	text-align: center;
	color: #000000;
	font-family: "楷体";
	line-height: 30px;
	font-size: 20px;
}
.dv_main_ul > li:hover {
	color: #FFA500;
	background-color: #5B9BD5;
	cursor:pointer;
}
.dv_main_ul > li > span {
	float: left;
}
.dv_main_title {
	height: 40px;
	line-height: 40px;
	font-size: 28px;
	border-bottom: #FFA500 solid 2px;
	text-align: center;
	color: #000000;
	font-family: "楷体";
}

@media ( max-width : 1630px) {
	#tea_tbl {
		margin: auto;
		width: 1400px;
	}
}

@media ( max-width : 1430px) {
	#tea_tbl {
		margin: auto;
		width: 1200px;
	}
}