<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hicode.oa.dao.AdviserDAO">
	
	
	<sql id="all_column">
		 adv_id, adv_name,adv_sex,title,if_onthejob,time_creatDate,time_endDate,title_updatetime
	</sql>
	
	<select id="getAdviserByID" parameterType="java.lang.String" resultType="Adviser">
		select <include refid="all_column"></include> from adviser where adv_id = #{adv_id};
	</select>
	
	<select id="getAdviserAll" parameterType="java.util.Map" resultType="Adviser">
		select <include refid="all_column"></include> from adviser limit #{start},#{count};
	</select>
	
	<select id="getAdvNameAndID"  resultType="Adviser">
		select adv_id, adv_name from adviser order by adv_id;
	</select>
	
	<select id="getAdvisersForCount" resultType="java.lang.Integer">
		select count(1) from adviser;
	</select>
</mapper>


