<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hicode.oa.dao.AdviserDAO">
	
	
	<sql id="all_column">
		 adv_id, adv_name,adv_sex,title,if_onthejob,time_creatDate,time_endDate,title_updatetime
	</sql>
	
	<select id="getAdviserByID" parameterType="java.lang.String" resultType="Adviser">
		select <include refid="all_column"></include> from adviser where adv_id = #{adv_id};
	</select>
	
	<select id="getAdviserByName" parameterType="java.lang.String" resultType="Adviser">
		select <include refid="all_column"></include> from adviser where adv_name = #{adv_name};
	</select>
	
	<select id="getAdviserAll" parameterType="java.util.Map" resultType="Adviser">
		select <include refid="all_column"></include> from adviser limit #{start},#{count};
	</select>
	
	<select id="getAdvNameAndID"  resultType="Adviser">
		select adv_id, adv_name,time_endDate from adviser order by adv_id;
	</select>
	
	<select id="getAdvisersForCount" resultType="java.lang.Integer">
		select count(1) from adviser;
	</select>
	
	<insert id="do_insertAdvisers" parameterType="Adviser">
		insert into adviser (adv_id, adv_name,adv_sex,title,if_onthejob,time_creatDate,time_endDate,title_updatetime)
		values(#{adv_id},#{adv_name},#{adv_sex},#{title},#{if_Onthejob},#{time_creatDate},#{time_endDate},#{title_updatetime});
	</insert>
	
	<!-- 获取最后一个市场人员的ID -->
	<select id="getLastAdvisersID" resultType="java.lang.String">
		select adv_id from adviser order by adv_id desc limit 0,1;
	</select>
	
	<update id="do_updateAdvisers" parameterType="Adviser">
		update adviser set 
			adv_name=#{adv_name},adv_sex=#{adv_sex},title=#{title},
			if_onthejob=#{if_Onthejob},time_creatDate=#{time_creatDate},
			time_endDate=#{time_endDate},title_updatetime=#{title_updatetime}
		where 
		adv_id=#{adv_id};
	</update>
	
	
	
</mapper>


