<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hicode.oa.dao.AuditionsDAO">
	<!-- 多对一处理 -->
	<resultMap id="getAuditions_oop" type="Auditions">
		 <!-- 一的一方 -->
		 <association property="teacher" column="t_id" select="com.hicode.oa.dao.TeacherDAO.getTeacherByID">
	   	 </association>
	   	 <!-- 一的一方 -->
	   	 <association property="adviser" column="adv_id" select="com.hicode.oa.dao.AdviserDAO.getAdviserByID">
	   	 </association>
	   	  <!-- 一的一方 -->
	   	 <association property="adviser2" column="adv_id2" select="com.hicode.oa.dao.AdviserDAO.getAdviserByID">
	   	 </association>
	</resultMap>
	
	<sql id="all_column">
		 au_id, st_time,st_name,st_sex,st_class,phone,t_id,adv_id,adv_id2,remarks
	</sql>
	
	<select id="getAuditionsByID" parameterType="java.lang.Integer" resultMap="getAuditions_oop">
		select <include refid="all_column"></include> from auditions where au_id = #{au_id};
	</select>
	
	<!-- 获取学生姓名 -->
	<select id="getAudNameByID" parameterType="java.lang.Integer" resultType="Auditions">
		select st_name from auditions where au_id = #{au_id};
	</select>
	
	<select id="getAuditionsAll" parameterType="java.util.Map"  resultMap="getAuditions_oop">
		select <include refid="all_column"></include> from auditions limit #{start},#{count};
	</select>
	
	<select id="getAuditionsForCount" resultType="java.lang.Integer">
		select count(1) from auditions;
	</select>
	
	<select id="getAudNameAndID" resultType="Auditions">
		select au_id,st_name from auditions  order by au_id;
	</select>
	
	<select id="getAuditionsBySomeOption" parameterType="java.util.Map" resultMap="getAuditions_oop">
	<!-- stu_name,stu_class,stu_phone,stu_teacher,kai_time,ting_time,yao_gu,qian_gu -->
		SELECT <include refid="all_column"></include> FROM auditions 
		WHERE 1=1
			<if test="stu_name != null">
				AND st_name LIKE #{stu_name} 
			</if>
			
			<if test="stu_class != null">
				AND st_class = #{stu_class}
			</if>
			
			<if test="stu_phone != null">
				AND phone = #{stu_phone}
			</if>
			
			<if test="stu_teacher != null">
				AND t_id = #{stu_teacher}
			</if>
			
			<if test="yao_gu != null">
				AND adv_id = #{yao_gu}
			</if>
		
			<if test="qian_gu != null">
				AND adv_id2 = #{qian_gu}
			</if>
			
		    <if test="kai_time != null">
		   		 AND st_time &gt;= #{kai_time}
		    </if>
		
			<if test="ting_time != null">
				AND st_time &lt;= #{ting_time}
			</if>
		ORDER BY st_time
		limit #{start},#{count};
	
	</select>
	
		<select id="getAuditionsForCountBySomeOption" parameterType="java.util.Map" resultType="java.lang.Integer">
	<!-- stu_name,stu_class,stu_phone,stu_teacher,kai_time,ting_time,yao_gu,qian_gu -->
		SELECT count(1) FROM auditions 
		WHERE 1=1
			<if test="stu_name != null">
				AND st_name LIKE #{stu_name} 
			</if>
			
			<if test="stu_class != null">
				AND st_class = #{stu_class}
			</if>
			
			<if test="stu_phone != null">
				AND phone = #{stu_phone}
			</if>
			
			<if test="stu_teacher != null">
				AND t_id = #{stu_teacher}
			</if>
			
			<if test="yao_gu != null">
				AND adv_id = #{yao_gu}
			</if>
		
			<if test="qian_gu != null">
				AND adv_id2 = #{qian_gu}
			</if>
			
		    <if test="kai_time != null">
		   		 AND st_time &gt;= #{kai_time}
		    </if>
		
			<if test="ting_time != null">
				AND st_time &lt;= #{ting_time}
			</if>
	
	</select>
	
	
	
	
	
	
	<insert id="do_insertAuditions" parameterType="Auditions" keyProperty="au_id">
		insert into auditions 
			(st_time,st_name,st_sex,st_class,phone,t_id,adv_id,adv_id2,remarks)
		values
			(#{st_time},#{st_name},#{st_sex},#{st_class},#{phone},#{teacher.t_id},
			#{adviser.adv_id},#{adviser2.adv_id},#{remarks});
	
	</insert>
	
	<update id="do_updateAuditions"  parameterType="Auditions">
		update auditions set 
			st_time =#{st_time}, st_name =#{st_name}, st_sex =#{st_sex}, 
			st_class =#{st_class}, phone = #{phone},t_id =#{teacher.t_id}, adv_id =#{adviser.adv_id}, 
			adv_id2 =#{adviser2.adv_id},remarks =#{remarks}
		 where  au_id =#{au_id};
	</update>
	
	
</mapper>


