<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hicode.oa.dao.CustomerDAO">
	<resultMap id="getCustomer_oop" type="Customer">
		<association property="auditions" column="au_id" select="com.hicode.oa.dao.AuditionsDAO.getAudNameByID">
		</association>
		<association property="subject" column="sub_id" select="com.hicode.oa.dao.SubjectDAO.getSubjectByID">
		</association>
		<association property="teacher" column="t_id" select="com.hicode.oa.dao.TeacherDAO.getTeacherByID">
		</association> 
	</resultMap>
	
	<sql id="all_column">
		 er_id, au_id,sub_id,period,if_renewal,t_id,first_time,if_done,phone,if_refund,remarks
	</sql>
	
	<select id="getCustomerByID" parameterType="java.lang.Integer" resultMap="getCustomer_oop">
		select <include refid="all_column"></include> from customer where er_id = #{er_id};
	</select>
	
	<select id="getCustomerAll" parameterType="java.util.Map" resultMap="getCustomer_oop">
		select <include refid="all_column"></include> from customer limit #{start},#{count};
	</select>
	<!-- 获取表中数据条数 -->
	<select id="getCustomerForCount" resultType="java.lang.Integer">
		select count(1) from customer;
	</select>
	<!-- 添加签单学员 -->
	<insert id="do_insertCustomer" parameterType="Customer">
		insert into customer(au_id,sub_id,period,if_renewal,t_id,first_time,if_done,phone,if_refund,remarks) 
		values();
	</insert>
	
	
</mapper>


