<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hicode.oa.dao.KuaJie_PhoneDAO">
	<!-- 多对一处理 -->
	<resultMap id="getKuaJie_Phone_oop" type="KuaJie_Phone">
		<!-- 一的一方 -->
	   	 <association property="kuaJie" column="kua_id" select="com.hicode.oa.dao.KuaJieDAO.getKuaJieByID">
	   	 </association>
	</resultMap>
	<sql id="all_column">
		md_id,md_time,kua_id,md_num,md_age,md_pass,adv_name,if_check,md_remarks
	</sql>

	<select id="getKuaJie_PhoneByID" parameterType="java.lang.Integer" resultMap="getKuaJie_Phone_oop">
		SELECT
		<include refid="all_column"></include>
		FROM kuajie_phone where md_id=#{md_id}
	</select>

	<select id="getKuaJie_PhoneInfo" parameterType="java.util.Map" resultMap="getKuaJie_Phone_oop">
		SELECT
		<include refid="all_column"></include>
		FROM kuajie_phone limit #{start},#{count};
	</select>
	
	<!-- 查询表内数据总条数 -->
	<select id="getKuaJie_PhoneForCount" resultType="java.lang.Integer">
		SELECT count(1) FROM kuajie_phone;
	</select>
	
	<!-- 条件查询表内数据 -->
	<select id="getKuaJie_PhoneBySomeOption" parameterType="java.util.Map" resultMap="getKuaJie_Phone_oop">
	<!-- stu_name,stu_class,yao_gu,kai_time,ting_time,begin_num,end_num -->
		SELECT <include refid="all_column"></include> FROM kuajie_phone 
			WHERE 1=1
			<if test="kua_id != null">
				AND kua_id = #{kua_id} 
			</if>
			
			<if test="md_age != null">
				AND md_age = #{md_age}
			</if>
			
			<if test="yao_gu != null">
				AND adv_name = #{yao_gu}
			</if>
			
		    <if test="kai_time != null">
		   		 AND md_time &gt;= #{kai_time}
		    </if>
		
			<if test="ting_time != null">
				AND md_time &lt;= #{ting_time}
			</if>
			
			<if test="begin_num != null">
		   		 AND md_num &gt;= #{begin_num}
		    </if>
		
			<if test="end_num != null">
				AND md_num &lt;= #{end_num}
			</if>
			
		ORDER BY md_time
		limit #{start},#{count};
	
	</select>
	
	<!-- 条件查询表内数据总条数 -->
	<select id="getKuaJie_PhoneForCountBySomeOption" parameterType="java.util.Map" resultType="java.lang.Integer">
	<!-- stu_name,stu_class,yao_gu,kai_time,ting_time,begin_num,end_num -->
		SELECT count(1) FROM kuajie_phone 
			WHERE 1=1
			<if test="kua_id != null">
				AND kua_id = #{kua_id} 
			</if>
			
			<if test="md_age != null">
				AND md_age = #{md_age}
			</if>
			
			<if test="yao_gu != null">
				AND adv_name = #{yao_gu}
			</if>
			
		    <if test="kai_time != null">
		   		 AND md_time &gt;= #{kai_time}
		    </if>
		
			<if test="ting_time != null">
				AND md_time &lt;= #{ting_time}
			</if>
			
			<if test="begin_num != null">
		   		 AND md_num &gt;= #{begin_num}
		    </if>
		
			<if test="end_num != null">
				AND md_num &lt;= #{end_num}
			</if>
	
	</select>
	
	<insert id="do_insertKuaJie_Phone" parameterType="KuaJie_Phone" keyProperty="md_id">
		INSERT INTO kuajie_phone (
			md_time,kua_id,md_num,md_age,md_pass,adv_name,if_check,md_remarks
			)
		VALUES (
			#{md_time},#{kuaJie.kua_id},#{md_num},#{md_age},#{md_pass},#{adv_name},#{if_check},#{md_remarks}
			);
	</insert>
	<!-- 修改( 修改：交换数量、年龄段、接通率、洽谈顾问、备注) -->
	<update id="do_updateKuaJie_PhoneSomeColumn" parameterType="KuaJie_Phone">
		UPDATE kuajie_phone SET
			md_num=#{md_num},
			md_age=#{md_age},
			md_pass=#{md_pass},
			adv_name=#{adv_name},
			md_remarks=#{md_remarks}
		WHERE
			md_id=#{md_id}
	</update>




</mapper>


