<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hicode.oa.dao.AuditionsDAO">
	<!-- 多对一处理 -->
	<resultMap id="getAuditions_oop" type="Auditions">
		<!-- 一的一方 -->
		 <association property="teacher" column="t_id" select="com.hicode.oa.dao.TeacherDAO.getTeacherByID">
	   	 </association>
	   	 <!-- 一的一方 -->
	   	 <association property="adviser" column="adv_id" select="com.hicode.oa.dao.AdviserDAO.getAdviserByID">
	   	 </association>
	</resultMap>
	
	<sql id="all_column">
		 au_id, st_time,st_name,st_sex,st_class,t_id,adv_id,remarks
	</sql>
	
	<select id="getAuditionsByID" parameterType="java.lang.Integer" resultMap="getAuditions_oop">
		select <include refid="all_column"></include> from auditions where au_id = #{au_id};
	</select>
	
	<!-- 获取学生姓名 -->
	<select id="getAudNameByID" parameterType="java.lang.Integer" resultType="Auditions">
		select st_name from auditions where au_id = #{au_id};
	</select>
	
	<select id="getAuditionsAll" parameterType="java.util.Map"  resultMap="getAuditions_oop">
		select <include refid="all_column"></include> from auditions limit #{start},#{count};
	</select>
	
	<select id="getAuditionsForCount" resultType="java.lang.Integer">
		select count(1) from auditions;
	</select>
	
	<select id="getAudNameAndID" resultType="Auditions">
		select au_id,st_name from auditions  order by au_id;
	</select>
	
	<insert id="do_insertAuditions" parameterType="Auditions" keyProperty="au_id">
		insert into auditions (st_time,st_name,st_sex,st_class,t_id,adv_id,remarks)
		values(#{st_time},#{st_name},#{st_sex},#{st_class},#{teacher.t_id},#{adviser.adv_id},#{remarks});
	
	</insert>
	
	
</mapper>


