<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hicode.oa.dao.AuditionsDAO">
	
	
	<sql id="all_column">
		 au_id, st_time,st_name,st_sex,st_class,t_id,adv_id,remarks
		 
		 
	</sql>
	
	<select id="getAuditionsByID" parameterType="java.lang.Integer" resultType="Auditions">
		select <include refid="all_column"></include> from auditions where au_id = #{au_id};
	</select>
	
	<select id="getAuditionsAll" parameterType="java.util.Map" resultType="Auditions">
	
		select <include refid="all_column"></include> from auditions limit #{start},#{count};
	
	</select>
	
</mapper>


